*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial;
    margin: 0px;
    border: none;
    color: white;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

/* The styles below prevent various highlighting of canvas on mobile */

button,
textarea,
input,
select,
a,
canvas {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    background: #212121;
    /* The styles below apply margin to the body in order to avoid address bars/displays on mobile  */
    margin-top: env(safe-area-inset-top);
    margin-bottom: env(safe-area-inset-bottom);
}

.simulation-menu {
    display: flex;
    width: 200px;
    height: auto;
    /* background: black; */
    margin: 0.25rem 0.25rem;
    gap: 1rem;
}

ion-icon {
    width: 20px;
    height: 20px;
}

.menu {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin: 0.25rem 0.25rem;
    padding: 0.5rem;
    gap: 0.5rem;
    width: 95%;
    height: auto;
    background: #000000;
    border: solid 2px white;
    border-radius: 10px;
}

button {
    width: 100%;
    height: 35px;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    border: solid 2px white;
    background: black;
    cursor: pointer;
}

.active {
    border: none;
    background: var(--accent);
}

.preferences {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    width: 95%;
    padding: 1rem 0rem 0rem 0rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: clamp(1rem, 3vw, 1.5rem);
}